%h1 New location
= simple_form_for resource, :url => representative_business_locations_path do |form|
  = error_messages!
  = render :partial => 'locations/form', :object => form
  = form.submit "Done"